language: node_js
node_js:
  - '6'
cache:
  directories:
    - node_modules
before_script:
  - raureif build
deploy:
  - provider: npm
    skip_cleanup: true
    email: krzysztof.modras@gmail.com
    on:
      tags: true
    api_key:
      secure: YP2MJVjMDi5i76vbKwoA4cBDnLifbzsZPs8Q/qi/CGPp8AfIJFsatBeDWg6fQPAB9LIVl+LubWH1MpXj2l2W6kdnV4EIkvPWIbf/2nP08QFmZmy8h8bXfNIfXfpVefTbFfrr1mW1j66FHCp2Q4mZuXkUbunGRO9YKr2qmUJy2Nrbiz6nYaemfig+i61OBWM1I3hpTt816HfObhDU0106IYDYp1y+KiCT1e7WVxFqZT8ZNR/83WxRynliY9TjwhclckrnZcQ9g/dt3rNkecKGY0fi61qgmcITmTGoGpGfRNUn8DUDVRCH1R+7EKZnfunMBfKMsQrJr3i8aBEYT4Z7TRcMUipPi68kA4bDVAuIF3hrKWKh5KsF9G+4QCsxKCmv2VOP0xJ4vzm+zlrrHAmpg/l/nX01ln0BLEyZJNx6zWzJTyNTynkNpvdQu6l1CNnt0qGq/hbcP2TZCCMJ01CkggB2sOxgVZNHPBv6g6b1K4GlsFWcg7El972EtgU/9f3ksnVkchztMSoLOKE0UTb882HEI5xLnJzcXmvBArwYbahDvr5XS7Ltc+5Ao74e83cfvFr/x0KEoMs9RWwVIUqhRqThpApnLopIkFRjwBS9byUcInlDjYorTdUj4Ar7W0+UQLMMp+a9Zjlo3LNG92Qe9ErWDley5fSKsgx0kKe+2Sg=
